
.sidebar {
  background: #fafafa;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  min-width: 200px;
  height: 100%;
  margin: 0;
  padding: 10px 5px;
}

.sidebar label {
  margin: 10px 0 5px 10px;
  display: block;
}

.sidebar input {
  margin: 10px 0 5px 10px;
  display: inline;
  margin-bottom: 10px;
}

.sidebar output {
  display: inline;
}

.phys-canvas {
  float: left;
}

.submit-btn {
  width: 60%;
  padding: 5px;
  text-align: center;
}
